<div class="row">
  <div class="col-md-6 offset-md-3 py-3">
    <div class="chat-box bg-light">
      <div class="chat-area">

      </div>
      <form method="post">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Message">
        </div>
      </form>
    </div>
  </div>
</div>