<section class="container">
  <section class="work-area">
    <section class="work-area-top">
      <h3>Username</h3>
      <form action="/logout" method="POST">
        <button type="submit" class="btn btn-border">Sign Out</button>
      </form>
    </section>
    <section class="work-area-center">messages display</section>
    <section class="work-area-bottom">
      <form method="post" autocomplete="off">
        <input type="text" name="message" id="messageField" placeholder="Type Something..." autocomplete="off">
        <button type="submit" class="btn">+</button>
      </form>
    </section>
  </section>
</section>