<section class="container">
  <section class="work-area">
    <section class="work-area-top">
      <h3>{{ user.username }}</h3>
      <form action="/logout" method="POST">
        <button type="submit" class="btn btn-border">Sign Out</button>
      </form>
    </section>
    <section class="work-area-center">
      <div class="list-tile">
        <div class="list-tile-top">
          <h5>Name</h5>
        </div>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos delectus dolore mollitia totam nam. Hic!</p>
        <h6>Date</h6>
      </div>
    </section>
    <section class="work-area-bottom">
      <p style="color: teal; font-size: 12.5px;padding: 5px 10px;font-weight: 300;letter-spacing: 0.5px;" class="feedback"></p>
      <form method="post" autocomplete="off" id="message-form">
        <input type="hidden" name="username" value={{ user.username }} id="username-field">
        <input type="text" name="message" id="message-input" placeholder="Type Something..." autocomplete="off">
        <button type="submit" class="btn" id="message-submit">+</button>
      </form>
      <div class="error">
        <p>This is an error message</p>
      </div>
    </section>
  </section>
</section>