<form action="/login" method="post">
  <label for="usernameField">Username</label>
  <input type="text" name="username" placeholder="Username" id="usernameField"/>
  <button type="submit">Log In</button>
</form>