html {
  --primaryColor: #84fab0;
  --accentColor: #8fd3f4;
  --primaryDark: #023c40;
  --primaryLight: #ccceee;
  --white: #fefffe;
  --fontFamily: Montserrat, sans-serif;
  font-family: var(--fontFamily);
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--primaryDark);
}

body {
  padding: 0;
  margin: 0;
  max-height: 100vh;
  max-width: 100%;
  overflow: hidden;
  background-color: var(--primaryColor);
  background-image: linear-gradient(
    120deg,
    var(--primaryColor) 0%,
    var(--accentColor) 100%
  );
}
a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* main */
main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 90%;
  width: 90%;
  box-sizing: border-box;
}

.work-area {
  min-width: 35%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 10px 10px 105px -20px rgba(2, 60, 64, 0.65);
}

.work-area-top {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  padding: 10px;
  box-sizing: border-box;
}

.work-area-center {
  flex: 10;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  align-items: flex-start;
}

.list-tile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: rgba(137, 230, 206, 0.35);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  line-height: 1.75;
}

.list-tile-top {
  display: flex;
  align-items: center;
}

.list-tile h6 {
  font-weight: 300;
  letter-spacing: 0.55px;
  color: grey;
  font-size: 0.7rem;
}

.list-tile p {
  font-size: 0.8rem;
  font-weight: 300;
}

.work-area-bottom {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.work-area-bottom form {
  display: flex;
}

.work-area-bottom form input[type='text'] {
  flex: 1;
  outline: none;
  padding: 5px 10px;
  box-sizing: border-box;
  letter-spacing: 0.5px;
  border: none;
  border-bottom-left-radius: 10px;
  font-family: var(--fontFamily);
}

.work-area-bottom form button {
  font-weight: 700;
  font-size: 1.5rem;
  border-bottom-right-radius: 10px;
}

.work-area-bottom form button:hover {
  background-color: var(--primaryDark);
  color: var(--white);
}

.btn {
  background: transparent;
  color: var(--primaryDark);
  text-transform: uppercase;
  padding: 10px;
  letter-spacing: 0.95px;
  border: none;
  outline: transparent;
  cursor: pointer;
  font-family: var(--fontFamily);
}

.btn-border {
  border: solid 1px var(--primaryDark);
  border-radius: 10px;
}

.btn-border:hover {
  background: var(--primaryDark);
  color: var(--white);
}

h3 {
  text-transform: uppercase;
}

.error {
  padding: 10px;
  box-sizing: border-box;
  color: var(--white);
  font-size: 0.8rem;
  letter-spacing: 0.65px;
  background-color: rgba(255, 0, 0, 0.5);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: none;
}
